%h1 About poll
%h2 #{@poll.title}
%ul
  - @poll.answer_options.each do |a|
    %li
      = a
%h5= link_to vote_url(uuid: @poll.uuid), vote_path(uuid: @poll.uuid)
- if policy(@poll).edit?
  %p= link_to "Edit", edit_poll_path(@poll)
%p= link_to "Delete", @poll, method: :delete
