!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ElopagePollApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
    .row.text-white.bg-light
      .container.col-md-4
        = link_to "Home", root_path
      .container.col-md-4
        = link_to "All polls", polls_path
    .container
      = yield
